/*https://fonts.google.com/specimen/Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;}
h1{
    font-size: 40px;
    font-weight: 600;
}
p{
    font-size: 14px;
    font-weight: bold;
    padding: 6px 24px 16px 24px;
}
.banner-wrap{
    background-image: url(assets/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

nav{ 
    display: flex;
    justify-content: space-between;
    height: 56px;
    align-items: center;
    padding: 0 32px;

}
.nav-item{
    padding: 5px 15px;
    cursor: pointer;
}
.nav-item:hover{
    background-color: aquamarine;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}
.logo
{height: 24px;
    width: 120px;
}
main{
    text-align: center;    
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title-section{
    margin-top: calc(100px - 56px);
}
.action-area{
   margin-bottom: 100px; 
}
button{
    margin: 0;
    padding:0;
    border: none;
    background: none;
    background-color: azure;
    width:264px;
    height:40px;
    padding:7px 27px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    margin-right:15px
}
.btn-gray{background-color: grey;
    color: white;

}
.btn-cyan{
    background-color: #ebf0e6d7;
    color: black;
}