/* static/styles.css */
.custom-paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Optional: Center-align the text within the div */
    margin-top: 20px; /* Adjust as needed */
}
/* Additional Information styling */
.additional-info {
    margin-top: 20px;
}

/* Line graph canvas styling */
#statistics-chart {
    border: 1px solid #0f0c0c; /* Grey border for the chart */
    width: 100%; /* Set the width to 100% of its container */
    height: 300px; /* Set the height to your desired value (adjust as needed) */
}

body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label,
input,
button {
    margin: 10px;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.statistics {
    margin-top: 20px;
}

.actions {
    margin-top: 20px;
}

/* Additional styles for the new features */
.container {
    background-color: #4a454552;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.card-header {
    font-size: 1.2em; /* Increased font size */
    color: #3498db;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.img-fluid {
    max-width: 50%;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.btn-primary,
.btn-secondary {
    background-color: #5ee7e9;
    border: none;
    cursor: pointer; /* Added cursor pointer for better UX */
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: #452188;
}

.btn-secondary {
    box-shadow: 0px 0px 5px 0px #291545; /* Added default shadow effect */
}

.btn-secondary:hover {
    box-shadow: 0px 0px 10px 0px #291545; /* Hover shadow color */
}
